doctype html
head
  title Evenstars
  link(rel='shortcut icon' href='images/es_discord_logo2.png')
  link(rel='stylesheet' href='stylesheets/main.css')
body
  div.center
    img(src='/images/evenstars-logo.jpg')
    h2 Move along... These aren't the Droids you're looking for.
