doctype html
head
  title Evenstars
  link(rel='shortcut icon' href='images/es-discord-logo-2019.png')
  link(rel='stylesheet' href='stylesheets/main.css')
body
  div.center
    img(src='/images/Evenstars-2019-logo.png')
    h2 Move along... These aren't the Droids you're looking for.
